module ___MODULE___

go 1.26.3

require (
	github.com/dromara/carbon/v2 v2.6.16
	github.com/grpc-ecosystem/go-grpc-middleware/v2 v2.3.3
	github.com/kitti12911/lib-monitor v1.12.0
	github.com/kitti12911/lib-orm/v3 v3.0.1
	github.com/kitti12911/lib-util/v3 v3.15.0
	github.com/stretchr/testify v1.11.1
	go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc v0.68.0
	go.opentelemetry.io/otel/trace v1.43.0
	google.golang.org/grpc v1.80.0
)
