module ___MODULE___

go 1.26.4

require (
	github.com/dromara/carbon/v2 v2.6.16
	github.com/grpc-ecosystem/go-grpc-middleware/v2 v2.3.3
	___LIB_PATH___/lib-monitor ___LIB_MONITOR_VERSION___
	___LIB_PATH___/lib-orm/v3 ___LIB_ORM_VERSION___
	___LIB_PATH___/lib-util/v3 ___LIB_UTIL_VERSION___
	github.com/stretchr/testify v1.11.1
	go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc v0.68.0
	go.opentelemetry.io/otel/trace v1.43.0
	google.golang.org/grpc v1.80.0
)
