module ___MODULE___

go 1.26.3

require (
	github.com/danielgtaylor/huma/v2 v2.37.3
	___LIB_PATH___/lib-monitor ___LIB_MONITOR_VERSION___
	___LIB_PATH___/lib-util/v3 ___LIB_UTIL_VERSION___
	github.com/stretchr/testify v1.11.1
	go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp v0.68.0
	go.opentelemetry.io/otel/trace v1.43.0
	gopkg.in/yaml.v3 v3.0.1
)
