module ___MODULE___

go 1.26.3

require (
	github.com/danielgtaylor/huma/v2 v2.37.3
	github.com/kitti12911/lib-monitor v1.12.0
	github.com/kitti12911/lib-util/v3 v3.15.0
	github.com/stretchr/testify v1.11.1
	go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp v0.68.0
	go.opentelemetry.io/otel/trace v1.43.0
	gopkg.in/yaml.v3 v3.0.1
)
